<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itinerary Generator</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>
</head>
<body>
    <div id="root"></div>
    <script type="text/babel" src="/static/js/main.js"></script>

<form action="", method="post">
    Place From
    <input type="text" name = "placeFrom">
    <br>
    Place To
    <input type="text" name = "placeTo">
    <br>
    Number of days
    <input type="text" name = "date">
    <br>
    Budget
    <input type="text" name = "budget">
    <br>
    <input type="submit" name = "submit">
</form>
</body>
</html>